.divbackgroundimg {
  background-image: url(https://t4.ftcdn.net/jpg/04/59/51/81/360_F_459518180_nl2io7Cun06ZfWiSb5QHMaSKq3t16xEj.jpg);
  padding: 10px;
}
.imgbutton {
  background-color: rgba(255, 182, 45, 0.91);
  color: white;
  margin: 0px 20px 0px 20px;
  border-radius: 5px;
  border-color: rgba(255, 182, 45, 0.91);
}
.margintuyendung {
  margin: 10px 50px 30px 50px;
}

.parent {
  display: flex; /* Sử dụng display: flex để áp dụng layout flexbox */
  justify-content: space-around; /* Canh giữa các phần tử con */
  align-items: center; /* Canh dọc các phần tử con vào giữa */
  height: 200px; /* Độ cao của parent container */
  background-color: #f0f0f0; /* Màu nền */
}

.child {
  width: 100px; /* Độ rộng của các phần tử con */
  height: 100px; /* Độ cao của các phần tử con */
  background-color: #ccc; /* Màu nền của các phần tử con */
  border: 1px solid #999; /* Đường viền */
}

.button-image {
  background-color: #c364c375;
  padding: 10px 40px;
  border: none;
  color: white;
  display: block;
  margin: 20px auto;
}

.heading {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  /* letter-spacing: khoảng cách giữa các kí tự */
  letter-spacing: 1px;
}
.desc {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0;
}
.group-button {
  text-align: center;
}
.button-plans {
  margin-right: 10px;
  margin-bottom: 20px;
}
.button-plans,
.button-features {
  background-color: #c364c375;
  padding: 10px 40px;
  border: none;
  color: white;
  cursor: pointer;
}
